# Haskell specific
dist/
dist-newstyle/
.cabal/
.stack-work/
cabal.project.local

# Editor/IDE specific
*.swp
*~

# Build artifacts
*.o
*.hi
*.dyn_o
*.dyn_hi
*.p_hi
*.p_o

# Compiled executables
*.exe
*.exe.manifest
*.hi-boot
*.ho
*.so
*.a

# Stack specific
stack.yaml.lock
stack-work/

# System files
.DS_Store
Thumbs.db
